<h3>Bienvenue sur MaHotte.fr, <%= @user.first_name.present? ? @user.first_name : @user.email %> </h3> 

<p>MaHotte.fr, l'outil indispensable pour garder la magie de Nöel.</p>

<p>Vous serez sûr de faire plaisir à vos proches et également de recevoir ce qui vous fait vraiment envie.<p>
<p>
Pour cela, vous devez créer votre liste de Nöel puis la partager avec vos proches par mail ou via les réseaux sociaux. <br>
Ils pourront visualiser si un cadeau de votre liste est disponible ou déjà réservé. <br> 
De votre coté, Surprise. Vous devrez attendre le jour J pour savoir ce que vos "Père Noel" vous réserve.... <br></p>

<p>
Vous pourrez également avoir toujours dans votre poche, votre shopping list. <br> 
"Que devez vous acheté déjà pour votre maman, votre meilleur ami,...?" <br> 
Grâce à votre liste d'achats de nöel, Tout est disponible en 1 clic sur l'application.</p>

<p>Pour que Nöel reste un moment de magie, utilisez MaHotte.fr</p>

<p><strong>L'équipe MaHotte.fr</strong></p>

<div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/mahotte/image/upload/v1529138299/woodgrain-with-christmas-ornaments_4460x4460.jpg'); height: 200px ; color: white;text-align: center; background-size: cover !important; display: flex; align-items: center;justify-content: center;">
  <div class="banner-content">
    <h1 style="font-family: 'Raleway', 'Helvetica', 'sans-serif'; font-size: 40px; font-weight: bold;text-shadow: 0px 1px rgba(0, 0, 0, 0.2);">Mahotte.fr</h1>
    <p class="text-right" style="font-family: 'Poiret One', cursive; font-size: 14px; font-weight: lighter; color: rgb(255, 255, 255); opacity: 0.6; margin-bottom: 30px;">Gardez la magie de noël</p>
  </div>
</div>