<h1>Mes achats de Noël</h1>

<ul>
  <% @gifts.each do |gift| %>
    <li>
      <%= "#{gift.name} pour #{gift.list.owner.full_name}" %>
      <% gift.images.each do |image| %>
        <%= image_tag image %> <br />
      <% end %>
    </li>
  <% end %>
</ul>
