
<div class="wrapper">

    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/mahotte/image/upload/v1529138299/woodgrain-with-christmas-ornaments_4460x4460.jpg');">
      <div class="banner-content">
        <h1>Mahotte.fr</h1>
        <p class="text-right">Gardez la magie de noël</p>
      </div>
    </div>

</div>
